*{
margin: 0;
padding: 0;
}

html, body {
min-width: 10%;
min-height: 10%;
font-style: oblique;
background: url('https://assets.codepen.io/6060109/waves.png');
background-color: rgb(227, 212, 241);
background-size: contain;
}

.container {
max-width: 100%;
max-height: 100%;
margin: 70px auto;
}

.dev-titles {
padding-bottom: 40px;
border-bottom: 5px solid black;

}

.dev-title > img {
width: 90%;
border-radius: 20%;
margin-left: 5%;
}

.dev-title > h1 {
font-size: 20px;
text-align: center;
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}

.dev-title > h3 {
font-size: 15px;
text-align: center;
position: absolute;
top: 24%;
left: 50%;
transform: translate(-50%, -50%);
}

.dev-title  > p {
text-align: center;

}

.about-me {
text-align: center;
margin-top: 20px;
border-bottom: 5px solid black;
margin-bottom: 20px;
padding-bottom: 20px;
}

.skills {
text-align: center;
padding-bottom: 20px;
border-bottom: 5px solid black;
}

ul {
list-style-type: none;
}


.top-titles > img {
width: 47%;
margin-top: 10%;
margin-left: 20%;
border-radius: 415%;
}

.title-details {
margin-left: 20%;
}

h6 {
margin-bottom: 10%;
}

.next-titles > img {
width: 45%;
margin-left: 20%;
margin-top: 10%;
border-radius: 415%;
}

.next-details {
margin-left: 20%;
}

.other-titles > img {
width: 44%;
margin-top: 10%;
margin-left: 20%;
border-radius: 415%;
border: 5px solid #555;
}

.post-details {
margin-left: 20%;
}


.final-titles > img {
width: 240px;
height: 160px;
margin-left: 20%;
margin-top: 10%;
border-radius: 50%;
}

.final-details {
margin-left: 20%;
}

.btn {
text-decoration: none;
display: block;
text-align: center;
width: 125px;
border-radius: 35px;
margin: 10px;
margin-left: 20%;
font-weight: 600;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
transition: .3s ease all;
}

.btn:hover {
opacity: .8;
transition: .3s ease all;
cursor: pointer;
}

.btn-primary {
background-color: rgb(99, 104, 145);
color: black;
}

.btn-secondary {
background-color: rgb(253, 229, 229);
color: black;
}





/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


.dev-title > img {
width: 70%;
margin-left: 15%;
}


.dev-title > h1 {
font-size: 70px;
top: 50%;
}

.dev-title > h3 {
font-size: 35px;
top: 60%;
}

.final-titles > img {
width: 555px;
height: 470px;
margin-left: 19%;
margin-top: 10%;
border-radius: 50%;
}




}

